cfgv==3.4.0
colorama==0.4.6
distlib==0.3.8
exceptiongroup==1.2.2
filelock==3.16.0
flake8==7.1.1
identify==2.6.1
iniconfig==2.0.0
mccabe==0.7.0
nodeenv==1.9.1
packaging==24.1
platformdirs==4.3.4
pluggy==1.5.0
pre-commit==3.8.0
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
pytest==8.3.3
PyYAML==6.0.2
snowballstemmer==2.2.0
tomli==2.0.1
virtualenv==20.26.4
